html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
ol, ul {
	list-style: none;
}

br{
    display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: 0;
    }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  max-width: 100%;
  width: 100%;
}
a {
	outline: none;
}
* {
      box-sizing: border-box;
    }
    body{

        background: 
          url(../images/bgbrowser.jpg) no-repeat;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    padding:0;
    width: auto;
    margin: auto;
}
header{
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.left{
    display : flex;
    padding: 20px;
}
.waffle-button-icon{
    padding: 5px;
    width: 50px;
    height: 50px;
    fill: white;
}
.left p{
    font-weight: bolder;
    font-style: normal;
    color: white;
    margin-left: 5px;
}
.left span{
    font-weight: bolder;
    font-style: normal;
    color: white;

    font-size: 10px;
    padding-top: 3px;
}
.right{
    padding: 25px;
    fill: white;
}
.right button{
    background: none;
    border: none;
}
.input{
    width: 50%;
    display: flex;
    transform: translate(50%,0);  
}
.input input{
    width: 500px;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 10px;
    font-size: 13px;
    outline: none;
}
.input input:focus{
    outline: none;
}
.input button{
    background: none;
    border: none;
}
.input button svg{
    fill: rgb(30, 111, 233);
    margin-top: 5px;
}
.search{
    background-color: white;
    border-radius: 0 4px 4px 0;
}
.shortcut{
    padding: 0;
    display: flex;
    text-align: center;
    transform: translate(50%);
    width: 50%;
}
.shortcut li{
    margin-left: 10px;
}
.shortcut li:first-child{
    margin-left: 0;
}
.shortcut a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.shortcut li:last-child{
    transform: translate(0, -20%);
}
.shortcut li:last-child a{
    font-size: 25;
}
.icons{
    padding-top: 300px;
    transform: translate(20%,0);
    width: 70%;
    justify-content: space-around;
    display: flex;
}
.imageicon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
}
.iconcontain{
    margin-left: 50%;
    transform: translate(-50%,0);
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    position: relative;
}
.texicon{
    color: white;
    text-decoration: none;
}
.texicon:hover{
    color: white;
    text-decoration: none;
}
.icons a{
    
    position: relative;
    padding: 5px;
    width: 110px;
    height: 75px;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
}
.iconbackgrond{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.iconbackgrond:hover{
    z-index: 1;
    background-color: white;
    opacity: 0.5;
}
.optionicon{
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.optioncontainer{
    position: relative;
}
.option{
    position: absolute;
    top: 0;
    right: -80px;
    background: white;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    visibility: hidden;
}
.option .path{
 fill:black
}
.sua{
    
    display: flex;
    padding: 10px 10px 0 10px;

}
.sua svg{
    margin-right: 5px;
}
.xoa svg{
    margin-right: 5px;
}
.xoa{
    z-index: 999;
    display: flex;
    padding: 0 10px 10px 10px
}
.option p{
    color: black;
}



